node_modules
.babelrc
ReduxSimpleStarter/.git
.git
.venv
.DS_Store
target
*.class
.idea
web_dev/blog_api/venv/
__pycache__/
db/
bundle
venv
*.ova
hadoop-2.7.3-src/
*/a5/diagnostic.data/
*/a5/journal
yarn.lock
dist
